{% comment %} Regular Old-Skool Favicons: {% endcomment %}
	{% if site.favicon-16x16 %}<link rel="icon" sizes="16x16" href="{{ "/assets/img/" | absolute_url }}{{ site.favicon-16x16 }}">{% endif %}
	{% if site.favicon-32x32 %}<link rel="icon" sizes="32x32" href="{{ "/assets/img/" | absolute_url }}{{ site.favicon-32x32 }}">{% endif %}
{% comment %} For Chrome for Android: {% endcomment %}
	{% if site.android-chrome-192x192 %}<link rel="icon" sizes="192x192" href="{{ "/assets/img/" | absolute_url }}{{ site.android-chrome-192x192 }}">{% endif %}
	{% if site.android-chrome-512x512 %}<link rel="icon" sizes="512x512" href="{{ "/assets/img/" | absolute_url }}{{ site.android-chrome-512x512 }}">{% endif %}
{% comment %} iOS  {% endcomment %}
	{% if site.apple-touch-icon %}<link rel="apple-touch-icon" href="{{ "/assets/img/" | absolute_url }}{{ site.apple-touch-icon }}">{% endif %}
