{% if page.header %}
{% assign header = page.header %}
{% else %}
{% assign header = layout.header %}
{% endif %}

{% if header == NULL and header.image_fullwidth == NULL and header.pattern == NULL and header.background-color == NULL and header.title == NULL %}

<div id="masthead-no-image-header">
	<div class="row">
		<div class="small-12 columns">
			<a id="logo" href="{{ '/' | absolute_url }}" title="{{ site.title }} – {{ site.slogan }}">
				<img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.logo }}" alt="{{ site.title }} – {{ site.slogan }}">
			</a>
		</div><!-- /.small-12.columns -->
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}





{% elsif header.title %}


<div id="masthead-with-text" style="{% if header.background-color %}background: {{ header.background-color }};{% endif %} {% if header.image_fullwidth %}{% elsif header.pattern %}background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('{{ site.urlimg }}/{{ header.pattern }}'){% endif %}">
	<div class="row">
		<div class="small-12 columns">
			<div class="masthead-title">{{ header.title }}</div>
		</div><!-- /.small-12.columns -->
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% if header.caption_url && header.caption %}
<div class="masthead-caption">
	<a href="{{ header.caption_url }}">{{ header.caption }}</a>
</div>
{% elsif header.caption %}
<div class="masthead-caption">
	{{ header.caption }}
</div>
{% endif %}





{% elsif header.image_fullwidth %}

<div id="masthead">
	<div class="row">
		<div class="small-12 columns">
			<a id="logo" href="{{ '/' | absolute_url }}" title="{{ site.title }} – {{ site.slogan }}">
				<img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.logo }}" alt="{{ site.title }} – {{ site.slogan }}">
			</a>
		</div><!-- /.small-12.columns -->
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% if header.caption_url && header.caption %}
<div class="masthead-caption">
	<a href="{{ header.caption_url }}">{{ header.caption }}</a>
</div>
{% elsif header.caption %}
<div class="masthead-caption">
	{{ header.caption }}
</div>
{% endif %}





{% elsif header.pattern %}

<div id="masthead-with-pattern" style="background: url('{{ site.urlimg }}/{{ header.pattern }}')">
	<div class="row">
		<figure class="small-12 columns">
			<img src="{{ site.urlimg }}/{{ header.image }}" alt="{{ site.title }}">
		</figure><!-- /.small-12.columns -->
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% if header.caption_url && header.caption %}
<div class="masthead-caption">
	<a href="{{ header.caption_url }}">{{ header.caption }}</a>
</div>
{% elsif header.caption %}
<div class="masthead-caption">
	{{ header.caption }}
</div>
{% endif %}





{% elsif header.background-color %}

<div id="masthead-with-background-color" style="background: {{ header.background-color }};">
	<div class="row">
		<figure class="small-12 columns">
			<img src="{{ site.urlimg }}/{{ header.image }}" alt="{{ site.title }}">
		</figure><!-- /.small-12.columns -->
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% if header.caption_url && header.caption %}
<div class="masthead-caption">
	<a href="{{ header.caption_url }}">{{ header.caption }}</a>
</div>
{% elsif header.caption %}
<div class="masthead-caption">
	{{ header.caption }}
</div>
{% endif %}





{% elsif header == false %}

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% endif %}
